.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: opacity;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  overflow: hidden;
  .forgot-password {
    color: #2c73f8;
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
    text-align: end;
  }
  .error-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    width: 80px;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 34px;
    font-weight: 700;
    color: #000;
    margin-bottom: 10px;
  }
  p {
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 20px;
  }
  .overlay-logo,
  .overlay-logo-2 {
    position: absolute;
    bottom: 50%;
    width: auto;
    height: 78vh;
    z-index: -1;
    opacity: 0.9;
    filter: blur(10px);
    animation: blur 2s ease-in-out infinite alternate;
    transform: translate(0%, 50%);
    transition: all 0.3s ease;
  }

  .overlay-logo {
    right: -21%; /* -50% ni kamaytirdim */
  }

  .overlay-logo-2 {
    left: -21%; /* -50% ni kamaytirdim */
  }

  @keyframes blur {
    0% {
      filter: blur(10px);
      opacity: 0.9;
    }
    100% {
      filter: blur(7px);
      opacity: 0.9;
    }
  }
}

.auth-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    .input-container {
      width: 500px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: start;
      position: relative;
      input {
        width: 100%;
        height: 100%;
        border: 2px solid #ededed;
        border-radius: 20px;
        padding: 0 10px;
        padding-left: 60px;
        outline: none;
        font-size: 18px;
        font-weight: 500;
        color: #000;
        transition: all 0.3s ease;
        &::placeholder {
          color: #a0aab3;
        }
        &:focus {
          border-color: #3478f7;
        }
      }

      &.error {
        input {
          border-color: #ff3b30;
          &:focus {
            border-color: #ff3b30;
          }
        }

        .user-icon,
        .password-icon {
          filter: invert(39%) sepia(98%) saturate(1234%) hue-rotate(327deg)
            brightness(97%) contrast(101%);
        }
      }

      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active {
        background-color: white !important;
        color: rgb(35, 35, 35) !important;
        -webkit-box-shadow: 0 0 0px 1000px white inset !important;
        transition: background-color 5000s ease-in-out 0s;
      }
      input:-moz-autofill {
        background-color: white !important;
        color: rgb(35, 35, 35) !important;
      }
      .user-icon,
      .password-icon {
        position: absolute;
        left: 20px;
        z-index: 1;
        width: 25px;
        height: auto;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 0.3s ease;
      }

      .eye-icon {
        position: absolute;
        right: 20px;
        width: 25px;
        cursor: pointer;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .error-message {
      color: #ff3b30;
      font-size: 15px;
      font-weight: 500;
      text-align: start;
      margin: 0 !important;
    }

    button {
      width: 100%;
      height: 60px;
      border-radius: 20px;
      background-color: #3478f7;
      border: none;
      font-size: 18px;
      font-weight: 500;
      color: #fff;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: #2861d9;
      }
    }
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
